<!-- Define o modelo de dados esperado para esta View como uma coleção de objetos do tipo Lanche. -->
@model LancheListViewModel;

<!-- Título da página -->
<h2>@Model.CategoriaAtual</h2>
<br />

<div class="container">
    <div class="row">
        <!-- foreach para exibição dos registros -->
        @foreach (var lanche in Model.Lanches!) 
        {
            // Declaração da partial view
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>