<!-- Define o modelo de dados esperado para esta View como uma coleção de objetos do tipo Lanche. -->
@model IEnumerable<LanchesMac.Models.Lanche>

<!-- Título da página -->
<h2>Todos os Lanches</h2>
<br />
<!-- foreach para exibição dos registros -->
@foreach (var lanche in Model) {
    <div>
        <h3>@lanche.Nome</h3>
        <img src="@lanche.ImagemUrl">
        <h4>Preço: @lanche.Preco.ToString("c")</h4>
        <br />
    </div>
}