<!-- Define o modelo de dados esperado para esta View como uma coleção de objetos do tipo Lanche. -->
@model IEnumerable<LanchesMac.Models.Lanche>

<!-- Título da página -->
<h2>Todos os Lanches</h2>
<br />

<div class="container">
    <div class="row">
        <!-- foreach para exibição dos registros -->
        @foreach (var lanche in Model) {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img class="img-fluid" src="@lanche.ImagemUrl">
                <h3>@lanche.Nome</h3>
                <h4>Preço: @lanche.Preco.ToString("c")</h4>
                <p>@lanche.DescricaoCurta</p>
                <br />
            </div>
        }
    </div>
</div>