 @model LoginViewModel

<div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <img src="/images/loginjpg.jpg" alt="usuarios" class="text-center" width="53" />
        <h4 class="text-center">Cadastrar usuário</h4>
        <form asp-controller="Account" asp-action="Register" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <div class="col-md-8">
                    <input type="submit" class="btn btn-success" value="Cadastrar" />
                </div>
            </div>
        </form>
    </div>
</div>